PORT=3000
JWT_SECRET=tu_clave_secreta_jwt
JWT_EXPIRES_IN=2h

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion
EMAIL_FROM="TechStore Security <no-reply@techstore.com>"